{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-md-6 align-self-center">
            <h1 class="text-center">Create Tasks</h1>
            {{error}}
            <form class="card text-bg-dark mb-3 text-center" action="/tasks/create/" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br />
                    {{ field }}
                </p>
                {% endfor %}
                <button class="btn btn-secondary col-md-5 align-self-center mb-2"> 
                    Save
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}